.container {
  background-color: #f8f9f8;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main {
  text-align: center;
  color: #333;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 2em;
  margin: 0.5em 0;
}

.description {
  font-size: 1.2em;
  margin: 1.5em 0; /* Increased margin to add more space */
}

.input {
  margin: 0.5em;
  padding: 0.5em;
  font-size: 1em;
  color: black; /* Ensure the text color is black */
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

.button {
  margin-top: 1em;
  padding: 0.5em 1em;
  font-size: 1em;
  color: white;
  background-color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #005bb5;
}

.addItemForm {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-bottom: 1em;
}

.addButton {
  padding: 0.5em 1em;
  font-size: 1em;
  color: white !important;
  background-color: green !important; /* Changed to green */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.searchForm {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-bottom: 1em;
}

.searchButton {
  background-color: black !important;
}

.updateButton {
  background-color: #0c20a6 !important;
  margin-right: 1em; /* Add space between update and remove buttons */
}

.removeButton {
  background-color: #d11b1b !important;
}

.message {
  margin-top: 1em;
  margin-bottom: 1em;
  color: #0070f3;
}

.inventoryButton {
  margin-top: 1em;
  padding: 0.5em 1em;
  font-size: 1em;
  color: white;
  background-color: #5c0ca6;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.inventoryButton:hover {
  background-color: #555;
}
